<!DOCTYPE html>
<html>
  <head>
    <title>MangoProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script type="text/javascript">
      window.mangoURL = "<%= image_url('mango-logo.png')%>";
      window.upsellURL = "<%= image_url('upsell.png')%>";
      window.defaultalbumURL = "<%= image_url('blank_album_cover.png')%>";
      window.testalbumURL = "<%= image_url('test-album.png')%>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
